################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BLL/bin/Debug/net6.0
/BLL/obj
/.vs
/DAL/bin/Debug/net6.0
/DAL/obj
/BLL/bin/Release/net6.0
/DAL/bin/Release/net6.0
/Objects/bin/Debug/net6.0
/Objects/obj
